# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Configs
config.yaml

# Databases / Output
output/
*.duckdb

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Tests cache
pytest_cache/
